name: publish-pypi

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    - name: Publish Python Package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: mariamrf/py-package-publish-action@v1.0.0
      with:
        python_version: '3.6.0'
      env:
        TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
        TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
